body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(25, 81, 81);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
}

.sidebar {
    background-color: #1992d4;
    padding: 20px;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 28px; 
    height: 100%;
}

.logo {
    grid-row: 1;
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
    gap: 4px;
}

.navigation {
    margin-left: 20px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    column-gap: 32px; 
}

.branding {
    margin-left: 20px;
    grid-row: 3;
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    column-gap: 32px;
}

.header {
    padding: 8px 20px;
    height: fit-content;
    background-color: #ffffff;
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: 80px 80px;
}

.header-row1 {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 40fr 1fr 2fr 8fr;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background-color: #e2e8f0;
    width: 700px;
    height: 32px;
    border-radius: 8cm;
}

.header-row2 {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px 8px;
}

.content {
    background-color: #e2e8f0;
    padding: 40px 40px 50px 32px;
    grid-row: 2 / -1; 
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 38px 32px;
}

.projects-container {
    padding: 0px 20px;
    grid-column: 1 / span 1;
    grid-row: span 2;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 16px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 30px;
    justify-items: space-between;
}


.projects > div {
    background-color: #ffffff;
    border-radius: 12px;
    width: 400px;
    height: 220px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr 1fr;
    column-gap: 18px;
}

.color-block {
    width: 1px;
    height: 220px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-left: 10px solid #f0b429;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;

}

.text-block {
    grid-row: 1;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.action-block {
    margin: 0px 16px 30px 0px;
    width: fit-content;
    height: fit-content;
    grid-column: 2 / span 1;
    grid-row: 2 / apan 1;
    place-self: end;
    display: flex;
    gap: 20px;
}

.action-block img {
    width: 30px;
    height: 30px;
}

.announcements-container {
    border: 2px solid red;
    grid-column: 2 / span 1;
}

.trending-container {
    border: 2px solid red;
    grid-column: 2 / span 1;
}

p,
h2,
h3 {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

.sidebar p {
    color: white;
    font-size: 20px;
}

.logo > p {
    font-size: 32px;
}

.sidebar img {
    width: 40px;
    height: auto;
}

.logo > img {
    width: 80px;
}

.header img {
    width: 32px;
}

#profile-icon {
    width: 60px;
    justify-self: center;
}

.header-row1 > p {
    font-weight: bold;
    font-size: 24px;
    justify-self: center;
}

#big-profile-icon {
    width: 80px;
    height: auto;
    border: 2px solid #e2e8f0;
    border-radius: 50%;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    place-self: center end;
}

.p1 {
    font-weight: bold;
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
    margin: 0px;
}

.p2 {
    font-weight: bold;
    font-size: 20px;
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
    margin: 0px;
}

.header-row2 button {
    color: white;
    font-size: 20px;
    width: 120px;
    height: 48px;
    background-color: #1992d4;
    border-style: none;
    border-radius: 8cm;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center; 
}